@model StampBidding.Models.Bidding

@{
    ViewData["Title"] = "Create";
}
<form method="post" enctype="multipart/form-data" asp-controller="Bidding" asp-action="Create">
    <div class="text-center">
        <h3 class="blockquote">To place a bidding, you must file out the provided PDF</h3>
        <input type="file" class="btn btn-secondary" name="file" value="Select files" id="file"/>
        <input id="file" name="file" type="submit" value="Upload" class="btn btn-primary"/>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
